.THIS.white {

    background-color: red; 
}
.THIS.red {

    background-color: blue; 
}
.THIS.blue {

    background-color: green; 
}
.THIS.green {

    background-color: orange; 
}
.THIS.orange {

    background-color: yellow; 
}